.cage1{
    height: 100px;
    width: 300px;
    background: #fcd0d8;
}

.cage2{
    height: 100px;
    width: 300px;
    background: #cee0f8;
}

.myBtn{
    margin: 5px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
}